<section class="container">
  <div class="max-size-signup mx-auto account_base p-5 rounded border border-left-0">
    <div class="text-center">
      <h2><%= t('.sign_up') %></h2>
    </div>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :ユーザー名 %> <br />
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="actions mt-3 text-center">
        <%= f.submit t('.sign_up'), class:"btn btn-dark mb-2 rounded-pill" %>
      </div>
    <% end %>
    
    <div class="mt-3 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
