<%= form_with(model: [plan, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
  </div>

    <div class="actions text-right mt-2">
      <%= form.submit '投稿する', class: "btn btn-dark mb-2" %>
    </div>
  <div>
<% end %>