<%= form_with(model: @plan, local: true ) do |form| %>    
<% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= @plan.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field plan_title">
    <%= form.label :タイトル, class: "control-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :plan, :タグ %>
    <%= form.text_field :tag_list, value: @plan.tag_list.join(','), class: "form-control" %>
  </div>

  <div class="row">
    <div class="field col-6">
      <%= form.label :イベント開始日時：, class: "control-label" %>
      <%= form.date_select :start_time, class: "form-control"  %>
    </div>

    <div class="field col-6">
      <%= form.label :申し込み期限：, class: "control-label" %>
      <%= form.date_select :limit_time, class: "form-control" %>
    </div>
  </div>

  <div class="field plan_title">
    <%= form.label :記事, class: "control-label" %>
    <%= form.text_area :content, size: "20x10", class: "form-control" %>
  </div>

  <div class="actions text-right mt-2">
    <%= form.submit '投稿する', class: "btn btn-dark mb-2" %>
  </div>
<% end %>
