
<h3>ブログ詳細画面</h3>

<div class="container">
    <% @tags.each do |tag| %> 
      <%= tag.name %>
    <% end %>

  <div class="plan-text">
    <p><strong>タイトル</strong>：<%= @plan.title %></p>
    <p><strong>内容</strong>：<%= @plan.content %></p>
    <p><strong>投稿者</strong>：<%= @plan.user.name %></p>
  </div>
  <div>
  <% if @user.id != current_user.id %>
    <% if @plan.taker_ids.include?(current_user.id) %>
      <%= link_to "cansel", cancel_plan_path(@plan.id), data: { confirm: "cancell" } %>
    <% else %>
      <%= link_to "offer", take_plan_path(@plan.id), data: { confirm: "offer?" } %>
    <% end %>
  <% end %>

  <p>参加者</p>
  <% @plan_user.each do |user| %>
    <p><%= user.name %></p>
  <% end %>

  </div>
  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, plan: @plan } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, plan: @plan } %>
  <%= link_to '編集', edit_plan_path(@plan) %> |
  <%= link_to '戻る', plans_path %>
  <%= link_to '削除する', plan_path(@plan.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
</div>
