<h3>ブログ詳細画面</h3>

<div class="container">
  <div class="plan-text">
    <p><strong>タイトル</strong>：<%= @plan.title %></p>
    <p><strong>内容</strong>：<%= @plan.content %></p>
  </div>
  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, plan: @plan } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, plan: @plan } %>
  <%= link_to '編集', edit_plan_path(@plan) %> |
  <%= link_to '戻る', plans_path %>
</div>
