<!DOCTYPE html>
<html>
  <head>
    <title>GameMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>

    <header>
      <div class="header">
        <div>
          <ul class="mt-3 ml-3 ">
            <li><%= link_to "ゲームマッチング（仮）", plans_path, class:"text-white link_underline header_left" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", user_path(current_user.id), class:"text-white link_underline mr-3 right" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li>ゲームマッチング（仮）<span>ゲームを上手くなりたい方へ</span></li>
        <% if user_signed_in? %>
          <li><%= link_to "ホーム", plans_path %></li>
          <li><%= link_to 'ユーザー一覧', users_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    
    <section class="mt-5 pt-3">
      <div>
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
        <div>&nbsp</div>
      </div>
    </section>
    
    <%= yield %>
    <footer class="container m-5">
      <div class="text-center">
        <p>&copy; Copyright.2021.</p>
      </div>
    </footer>
  </body>
</html>

<!--,user_path(current_user.id)   ,session_path(current_user.id), method: :delete    -->