<!DOCTYPE html>
<html>
  <head>
    <title>GameMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <header>
        <ul>
          <li>
            <%= link_to 'ホーム', plans_path %>
          </li>
          <li class = "log"><%= link_to "プロフィール", plans_path%></li>
          <li class = "log"><%= link_to "ログアウト", plans_path%></li>
          </ul>
       </header>
    </div>
    <%= yield %>
  </body>
</html>

<!--,user_path(current_user.id)   ,session_path(current_user.id), method: :delete    -->